
.modal-header{
    /* background: black; */
    margin:0%;
    padding:0%;
    height: 1%;
}



.carousel {
    margin: 0 auto;
    width:25%;
    height:0%;
  }

.carousel-inner img {
    margin: auto;
  }
